body{
    margin: 0;
    background-color:#eee;
    text-align: center;
}
header{
    text-align: center;
    background-color: #124;
    padding: 4vw;
}
h1{
    color: #fcfcfc;
}
table{
    margin: 1vw auto;
    display: inline-block;
    border-radius: 5px;
    border: 4px #777 solid;
}
td{
    padding: 1vw;
}
